<server description="Intro REST Guide Liberty server">

  <featureManager>
      <feature>jaxrs-2.1</feature>
  </featureManager>

  <httpEndpoint 
    id="defaultHttpEndpoint"
    httpPort="${default.http.port}"
    httpsPort="${default.https.port}"
    host="*"/>

  <webApplication 
    location="guide-rest-intro.war" 
    contextRoot="${app.context.root}"/>

</server>
